.tickSquare.tickSquare {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
